body {
    background-color: rgba(40, 43, 49, 0.514);
}
.main-div {
    margin: 150px auto;
    width: 100px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

h1 {
    margin: 0px;
    color: white;
}

button {
    padding: 0px;
    border: none;
}

.fas {
    font-size: 20px;
    color: white;
}

.fa-plus-square {
    background-color: green;
    padding: 10px;
}

.fa-minus-square {
    background-color: red;
    padding: 10px;
}